* {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

$font_Neucha: "Neucha", cursive;
$color_grey_dark: #373737;
$color_grey_medium: #4f4e4d;
$color_lightest: #fff;
$color_beige: #f7f6ee;
$color_main: #fbc93e;

.uppercase {
  text-transform: uppercase;
}

.text {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: $color_grey_medium;
}

.h2 {
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.9;
  letter-spacing: normal;
  text-align: left;
  color: $color_grey_dark;
}

.h3 {
  font-family: $font_Neucha;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $color_grey_dark;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 934px;
  margin-left: auto;
  margin-right: auto;
  &--small {
    max-width: 653px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  z-index: 99999;
  position: fixed;
  top: 0;
  background-color: $color_main;
  padding-top: 16px;
  width: 100%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  &__container {
    position: relative;
  }
}

.nav {
  z-index: 9999;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  display: inline;
  &__items {
    display: inline;
  }
  &__item {
    position: relative;
    display: inline;
    margin-right: 13px;

    // &:after {
    //   visibility: hidden;
    //   position: absolute;
    //   content: "";
    //   display: block;
    //   width: 78px;
    //   height: 3px;
    //   background: url("../img/underline.png") no-repeat;
    //   margin-top: 8px;
    //   opacity: 0.6;
    //   &:hover {
    //     visibility: visible !important;
    //   }
    // }
  }
  &__link {
    color: $color_grey_dark;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
  &__search {
    margin-left: 43px;
    display: inline;
  }
}

.hero {
  background-image: url("../img/title_bg.png");
  min-height: 610px;

  &__container {
    padding-top: 137px;
  }

  &__message {
    max-width: 459px;
    min-height: 431px;
    background-image: url("../img/square_bg.png");
    margin-left: auto;
    margin-right: 0;
    padding: 20px 23px 15px 28px;
  }
  &__h2 {
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 6px;
    color: $color_grey_dark;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: url("../img/border_medium.png") no-repeat;
      margin-top: 8px;
    }
  }

  &__text {
    padding: 16px 44px 16px 8px;
  }
}

.titel {
  padding-top: 93px;
  padding-bottom: 82px;

  &__container {
    margin-left: 27.5%;
  }

  &__text {
    padding-top: 22px;
    padding-left: 4px;
  }
}

.packed {
  padding-top: 53px;
  padding-bottom: 30px;
  min-height: 567px;
  background-color: $color_beige;

  background-image: url("../img/Layer_01.png");

  &__header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    &:before,
    &:after {
      content: "";
      display: inline-block;
      width: 194px;
      height: 100px;
      margin-bottom: -32px;
    }

    &:before {
      background: url("../img/item_01L.png");

      margin-right: 33px;
    }

    &:after {
      background: url("../img/item_01R.png");

      margin-left: 33px;
    }
  }
  &__box-section {
    margin-top: 32px;
    padding-top: 61px;
  }

  &__box {
    display: inline-block;
    width: 27%;
    &:nth-of-type(even) {
      margin: 0 9%;
    }
  }

  &__text {
    padding-top: 7px;
  }

  &__link {
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $color_grey_dark;
    text-decoration: none;
    line-height: 2;
  }
}

.comsoc {
  padding-bottom: 110px;
  &__background {
    background-color: $color_beige;
  }

  &__wrapper {
    // overflow: hidden;

    &:after {
      content: ".";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
  }
  &__box {
    margin-top: -93px;

    padding-top: 39px;
    padding-left: 21px;
    padding-right: 20px;
    display: inline-block;
    max-width: 458px;
    min-height: 400px;
    background: url("../img/bg.png") no-repeat;

    &:first-of-type {
      float: left;
    }
    &:last-of-type {
      float: right;
    }
  }

  &__text {
    padding-top: 7px;
  }
}

.team {
  padding-top: 78px;
  &__header {
    text-align: center;
    margin: 0 auto;
  }

  &__container {
    text-align: center;
    margin-left: -9px;
    margin-right: -9px;
    padding-top: 30px;
    padding-bottom: 84px;
  }

  &__person {
    display: inline-block;
  }
}

.border:after {
  display: block;
  background: url("../img/footer_border.png");
  content: "";
  width: 100%;
  height: 11px;
  opacity: 0.6;
}

.person {
  margin: 7px;
  position: relative;
  width: 300px;
  height: 300px;
  &__image {
  }
  &__title {
    width: 100%;
    height: 73px;
    position: absolute;
    bottom: 2px;
    background: url("../img/bg-person.png") center no-repeat;
  }
}

.title {
  &__name {
    display: block;
    padding: 13px 0 0px 20px;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: left;
    color: $color_grey_medium;
  }
  &__position {
    font-size: 18px;
    line-height: 1.17;
  }

  &__social {
    position: absolute;

    right: 13px;
    bottom: 18px;
  }
}

.footer {
  text-align: center;
  padding-top: 57px;
  &__logo {
    width: 138px;
  }
}

.address {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: $color_grey_dark;
  padding-top: 29px;
  padding-bottom: 16px;
}

.social {
  &__button {
    display: inline-block;
    margin: 0 6px;
  }
}

.language-switch {
  width: 92px;
  height: 40px;
  background: url("../img/language_box.png") center no-repeat;
  display: inline-block;
  margin-top: 26px;
  margin-bottom: 52px;
  &__lang {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $color_grey_dark;
  }
}
